/* Header */

.top-nav {
  background-color:oldlace;
  overflow: hidden;
}

.logo {
  padding-top: 10px;
  width: 250px;
}

.top-nav img{
  float: left;
}

.top-nav img:hover{
  cursor: pointer;
}

.cart-img{
  width: 50px;
  margin: 5px;
  padding: 5px;
  border: 2px solid transparent;
}
.cart-img:hover{
  border: 2px solid black;
  overflow: hidden;        
}

.nav-right{
  float: right;
  padding: 20px;
  padding-top: 25px;
}

.nav-right button{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: oldlace;
  border: 0;
  font-size: 25px;
  font-family: 'Times New Roman';
  
}

.buttons{
  display: flex;
}

.nav-right button:hover{
  color: gray;
  cursor: pointer;
}


/* restaurent card */
.res-card{
  width: 250px;
  height: 350px;
  padding: 20px;

  /* border-color: black;*/
  /* border: 1px solid gray;  */
  
}

/* restaurent card image */
.img-container{
  position: relative;
  width: 240px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
}

.food-picture{
  display: block;
  width: 240px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  /* padding-bottom: 0px; */
}

.offers{
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: white;
  padding-top: 30px;
  font-family: 'Gill Sans';
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0),rgba(0,0,0,1));
  transition: 100ms;
}

.res-card:hover{
  cursor: pointer;
  font-size: 95%;
  transition: 100ms;
  transform: scale(0.95);
}




.body{
  padding: 30px;
}

.star{
  width: 18px;
  height: 18px;
  /* margin-top: px; */
}

.rating{
  display: flex;
  /* border: 1px solid black; */
  text-align:right;
  justify-content:flex-start;
}

#cusions{
  padding-top: 3px;
  color: rgb(78, 77, 77);

}

.res-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}


/* filter button  and search bar */
.filter-btn{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  transition: 100ms;
}

.filter-btn:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(210, 210, 211);
}

.filter{
  display: flex;
  flex: wrap;
  
}

.bar{
  margin-left:100px;
  /* padding: 10px; */
  border-radius: 5px;
  width: 250px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.search-btn{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  transition: 100ms;
  align-content: flex-end;
}

.search-btn:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(210, 210, 211);
}


/* Shimmer UI */
.shimmer-card{
  width: 250px;
  height: 350px;
  padding: 20px;
}

.shimmer-image{
  display: block;
  width: 240px;
  height: 180px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4f4f4;
}

.shimmer-text{
  margin-top: 20px;
  width: 240px;
  height: 40px;
  background-color: #f4f4f4;
}

.shimmer-details{
  margin-top: 20px;
  width: 240px;
  height: 50px;
  background-color: #f4f4f4;
}

.shimmer-button{
  height: 43px;
  width: 192px;
  margin: 40px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  transition: 100ms;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3px;

}
